body {
    font-family: sans-serif;
    background: url("https://kgf.com.ua/image/catalog/blog/2023/07/173_1.jpg");

position: absolute;
width: 500px;
height: 600px;  
}
h1{
    text-align: center;
    font-family: inria-sans;
    background-color: #C83D32; height: 50px;
    color: #3FC6C9;
}
p{
    background-color: #9AB7B8;height: 200px;
    
}
a{
   margin-top: 20px;
   margin-left: 20px;
   margin-bottom: 20px;
}
.p{
       margin-top: 20px;
   margin-left: 20px;
   margin-bottom: 20px;
}
.t{
       margin-top: 20px;
   margin-left: 20px;
   margin-bottom: 20px;
}
.r{
          margin-top: 50px;
   margin-left: 20px;
   margin-bottom: 20px;
}


